            <div class="footer-notes">
                <a>/</a>
                <a href="/over.html">Over BeamTeamTool</a>
                <a>/</a>
                <a href="/contact.html">Contact</a>
                <a>/</a>
                <a href="/kosten.html">Kosten</a>
                <a>/</a>
                <a href="/legal.html">Legal</a>
                <a>/</a>
            </div>
            <br/>
        </div> <!-- /container -->
	</body>
</html>