{{> _header.html}}

<div class="container">
    <section class="header">
        <div class="row">
            <div class="seven columns">
                <h2>Contact Bean me up</h2>
                <p>
                    Heb je nog geen account, neem dan contact met ons op via het onderstaande formulier.
                </p>
            </div>
            <div class="five columns">
                <a class="logo-wrapper" target="_blank" href="examples/landing">
                    <img class="logo" src="/images/logo.png"/>
                </a>

            </div>
        </div>
    </section>

    <h3>Vragen?</h3>

    <form>
        <div class="row">
            <div class="six columns">
                <label for="exampleEmailInput">Emailadres</label>
                <input class="u-full-width" type="email" placeholder="naam@mailbox.nl" id="exampleEmailInput">
            </div>
            <div class="six columns">
                <label for="exampleRecipientInput">Vraag</label>
                <select class="u-full-width" id="exampleRecipientInput">
                    <option value="Option 1">Ik wil een account aanvragen</option>
                    <option value="Option 2">Ik ben mijn wachtwoord vergeten</option>
                    <option value="Option 2">Overige vragen</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <label for="exampleMessage">Bericht</label>
                <textarea class="u-full-width" placeholder="Hallo..." id="exampleMessage"></textarea>
                <input class="button-primary" type="submit" value="Versturen"/>
            </div>
        </div>
        <p>&nbsp;</p>
        <hr/>
    </form>
</div>

{{> _footer.html}}
