{{> _header.html}}

    <div class="container">
        <section class="main-header">
            <h2 class="title">Genereer eenvoudig presentaties voor elke liturgie.</h2>
            <a class="button button-primary" href="/contact.html">Vraag nu aan</a>

            <div class="value-props row">
                <div class="four columns value-prop">
                    <img class="value-img" src="images/beamer.png">
                    Voor kerken met een licentie op <u>www.liedboek.nu</u>
                </div>

                <div class="four columns value-prop">
                    <img class="value-img" src="images/start.png">
                    <!--<img class="value-img" src="android-chrome-96x96.png">-->
                    Het startpunt voor een beamerteam.
                </div>

                <div class="four columns value-prop">
                    <img class="value-img" src="/images/watch.png">
                    Bespaar tijd met één druk op de knop.
                </div>
            </div>
        </section>

        <hr/>

        <div class="row">
            <div class="one-half column">
                <h2 style="margin-top: 4rem;">Login</h2>
                <p>Log hier in op de website.</p>
            </div>
            <!--<div class="one-half column">-->
                <!--<h2 style="margin-top: 4rem;">More coming soon!</h2>-->
                <!--<p class="example-description">More examples will be added to help anyone get started or more familiar with how Skeleton works. The goal is education. If you're more interested in real, live examples of Skeleton sites, I'll be creating a "Built on Skeleton" list soon!</p>-->
            <!--</div>-->
        </div>

        <!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->
        <!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->
        <div class="row">
            <div class="four columns">
                <form>
                    <label for="emailinput">Email</label>
                    <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="emailinput">
                    <div class="row">
                            <label for="passwordInput">Wachtwoord</label>
                            <input class="u-full-width" type="password" placeholder="....." id="passwordInput">
                    </div>
                    <input class="button-primary" type="submit" value="Login">
                </form>
            </div>

        </div>
        <hr/>

    </div>




{{> _footer.html}}
