{{> _header.html}}

        <section class="main-header">
            <h2 class="title">Kosten BeamTeamTool.</h2>

            <div class="value-props row">
                <div class="six columns value-prop">
                    <img class="value-img" src="images/start.png">
                    <b>BeamTeamTool Free</b><br/>
                    <a><b>Gratis</b></a><br/>
                    Gebruik van eigen materiaal / teksten<br/><br/>
                    <a class="button" href="/contact.html">Vraag nu aan</a>
                </div>

                <div class="six columns value-prop">
                    <img class="value-img" src="images/beamer.png"/>
                    <b>BeamTeamTool Premium</b><br/><a><b>EUR 12,50  per maand</b></a></br><em>Ondersteuning <u>liedboek.nu</u> downloads</em><br/><br/>
                    <a class="button button-primary" href="/contact.html">Coming soon</a>
                </div>
            </div>
        </section>
        <hr/>

{{> _footer.html}}
