{{> _header.html}}

    <section class="header">
        <div class="row">
            <div class="ten columns">
                <h2>Legal</h2>
            </div>
        </div>
    </section>

    <form action="/maak" method="post">
        <div class="row">
            <div class="ten columns">
                <label for="scriptInput">Algemene gebruiksvoorwaarden</label>
                <p>
                    Bij het aanbieden van deze website gaan we ervan uit dat er door de gebruiker rekening wordt gehouden met de auteursrechten voor het gebruik van het toegepaste materiaal.
                    </p>
                <p>
                    Deze site vormt alleen een hulpmiddel voor het samenstellen van powerpoint-presentatie. Er kunnen liederen in grafische- en tekstvorm worden geupload, of via een link
                    worden verkregen van een externe bron. Het risico op schending van auteursrecht en copyright, bij het gebruik van dit materiaal, ligt bij de gebruiker van deze site.
                </p>
                <p>
                    Zie voor meer info ook: <a href="http://www.opkijken.nl/wiki/beamergebruik/beamer-content/juridisch/">http://www.opkijken.nl/wiki/beamergebruik/beamer-content/juridisch/</a>
                </p>

            </div>
        </div>
        <a class="button" href="/maak.html">Ik heb dit gelezen</a>
        <p>&nbsp;</p>
        <hr/>
    </form>

{{> _footer.html}}
