{{> _header.html}}

<div class="container">
    <section class="header">
    <div class="row">
        <div class="seven columns">
            <h2>Over bean me up</h2>

            <p>
                <i>Credits gebruikte logo's en icons:</i>
            </p>
            <ul>
                <li>
                    Logo site, op verzoek gemaakt door: <a href="https://dribbble.com/maxsteenbergen">Max
                    Steenbergen</a>
                </li>
                <li>
                    Beamer icon: Ivan Pletemac (<a href="http://creativecommons.org/licenses/by/3.0/us/">license</a>)
                    via <u>https://thenounproject.com</u>
                </li>
                <li>
                    Watch icon: Julien Deveaux (<a href="http://creativecommons.org/licenses/by/3.0/us/">license</a>)
                    via <u>https://thenounproject.com</u></li>
                </li>
                <li>
                    Start icon: Dreshad Williams (<a href="http://creativecommons.org/licenses/by/3.0/us/">license</a>)
                    via <u>https://thenounproject.com</u></li>
                </li>
            </ul>
        </div>
        <div class="five columns">
            <a class="logo-wrapper" target="_blank" href="examples/landing">
                <img class="logo" src="/images/logo.png"/>
            </a>

        </div>
    </div>
        </section>

    <h3>Vragen?</h3>

    <form>
        <div class="row">
            <div class="six columns">
                <label for="exampleEmailInput">Emailadres</label>
                <input class="u-full-width" type="email" placeholder="naam@mailbox.nl" id="exampleEmailInput">
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <label for="exampleMessage">Bericht</label>
                <textarea class="u-full-width" placeholder="Hallo..." id="exampleMessage"></textarea>
                <input class="button-primary" type="submit" value="Versturen"/>
            </div>
        </div>
        <p>&nbsp;</p>
        <hr/>
    </form>
</div>

{{> _footer.html}}
